#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  //height: 100vh;
}

.titulo {
  font-size: 2.0rem;
}

.subtitulo {
  font-size: 1.5rem;
}

.spinner-container {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  background: var(--ion-color-background);
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  ion-spinner {
    width: 5.00rem;
    height: 5.00rem;
    color: var(--ion-color-primary);
  }
}
