// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #da0000;
  --ion-color-primary-rgb: 218, 0, 0;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #c00000;
  --ion-color-primary-tint: #de1a1a;

  /** secondary **/
  --ion-color-secondary: #ed7f34;
  --ion-color-secondary-rgb: 237, 127, 52;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #d1702e;
  --ion-color-secondary-tint: #ef8c48;

  /** tertiary **/
  --ion-color-tertiary: #7da73f;
  --ion-color-tertiary-rgb: 125, 167, 63;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #6e9337;
  --ion-color-tertiary-tint: #8ab052;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

/** pedido **/
  --ion-color-pedido: #000;
  --ion-color-pedido-rgb: 0, 0, 0;
  --ion-color-pedido-contrast: #fff;
  --ion-color-pedido-contrast-rgb: 255, 255, 255;
  --ion-color-pedido-shade: #d7d8da;
  --ion-color-pedido-tint: #848588;
  --ion-background-color-accordion-collapsed: #eee;
  --ion-background-color-accordion-expanding: #888;
  --ion-color-accordion: #fff;
  --ion-color-p: #ddd;

  /** employee **/
  --ion-color-employee: #f4f5f8;
  --ion-color-employee-rgb: 244, 245, 248;
  --ion-color-employee-contrast: #000000;
  --ion-color-employee-contrast-rgb: 0, 0, 0;
  --ion-color-employee-shade: #d7d8da;
  --ion-color-employee-tint: #848588;

/** clock **/
  --ion-color-clock: #eee;
/** spinner **/
  --ion-color-background: rgba(240, 240, 240, 0.7);
/** modal **/
  --ion-color-close: #880000;
  --ion-color-close-contrast: #ffffff;

  --ion-color-stripe: #000000;

  body {
    --ion-color-stripe: #000000;
  }
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */
  :root {
    --ion-color-stripe: #ffffff;
    --ion-color-close: #880000;
    --ion-color-close-contrast: #ffffff;
  }
  body {
    --ion-color-stripe: #ffffff;
    /** primary **/
    --ion-color-primary: #b80000;
    --ion-color-primary-rgb: 218, 0, 0;
    --ion-color-primary-contrast: #dddddd;
    --ion-color-primary-contrast-rgb: 221, 221, 221;
    --ion-color-primary-shade: #a00000;
    --ion-color-primary-tint: #bc1818;

    /** secondary **/
    --ion-color-secondary: #cb5d12;
    --ion-color-secondary-rgb: 203, 93, 18;
    --ion-color-primary-contrast: #dddddd;
    --ion-color-primary-contrast-rgb: 221, 221, 221;
    --ion-color-secondary-shade: #d1702e;
    --ion-color-secondary-tint: #cd6a26;

    /** tertiary **/
    --ion-color-tertiary: #5b851d;
    --ion-color-tertiary-rgb: 91,133,29;
    --ion-color-primary-contrast: #dddddd;
    --ion-color-primary-contrast-rgb: 221, 221, 221;
    --ion-color-tertiary-shade: #4c7115;
    --ion-color-tertiary-tint: #689030;

    /** success **/
    --ion-color-success: #0bb14d;
    --ion-color-success-rgb: 11, 177, 77;
    --ion-color-success-contrast: #dddddd;
    --ion-color-success-contrast-rgb: 221, 221, 221;
    --ion-color-success-shade: #069840;
    --ion-color-success-tint: #20b55b;

    /** warning **/
    --ion-color-warning: #dda207;
    --ion-color-warning-rgb: 221, 162, 7;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #c08a06;
    --ion-color-warning-tint: #dda800;

    /** danger **/
    --ion-color-danger: #c92238;
    --ion-color-danger-rgb: 201, 34, 56;
    --ion-color-danger-contrast: #dddddd;
    --ion-color-danger-contrast-rgb: 221, 221, 221;
    --ion-color-danger-shade: #ad1a2d;
    --ion-color-danger-tint: #cb3549;

    /** dark **/
    --ion-color-dark: #000206;
    --ion-color-dark-rgb: 0, 2, 6;
    --ion-color-dark-contrast: #dddddd;
    --ion-color-dark-contrast-rgb: 221, 221, 221;
    --ion-color-dark-shade: #1c0001;
    --ion-color-dark-tint: #16181c;

    /** medium **/
    --ion-color-medium: #70727a;
    --ion-color-medium-rgb: 112, 114, 122;
    --ion-color-medium-contrast: #dddddd;
    --ion-color-medium-contrast-rgb: 221, 221, 221;
    --ion-color-medium-shade: #606067;
    --ion-color-medium-tint: #7b7d84;

    /** light **/
    --ion-color-light: #d2d3d6;
    --ion-color-light-rgb: 210, 211, 214;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #b5b6b8;
    --ion-color-light-tint: #d3d4d7;

/** pedido **/
  --ion-color-pedido: #fff;
  --ion-color-pedido-rgb: 255, 255, 255;
  --ion-color-pedido-contrast: #000;
  --ion-color-pedido-contrast-rgb: 0, 0, 0;
  --ion-color-pedido-shade: #d7d8da;
  --ion-color-pedido-tint: #848588;

/** employee **/
    --ion-color-employee: #f00;
    --ion-color-employee-rgb: 244, 245, 248;
    --ion-color-employee-contrast: #ffffff;
    --ion-color-employee-contrast-rgb: 255, 255, 255;
    --ion-color-employee-shade: #47484a;
    --ion-color-employee-tint: #a4a5a8;

  /** spinner **/
  --ion-color-background: rgba(100, 100, 100, 0.5);

}

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}


html {
  /*
   * For more information on dynamic font scaling, visit the documentation:
   * https://ionicframework.com/docs/layout/dynamic-font-scaling
   */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}
