ion-accordion.accordion-expanding,
ion-accordion.accordion-expanded {
//  width: calc(100% - 32px);
//  margin: 16px auto;
  width: calc(100% - 0.00rem);
  margin: 0.00rem auto;
}

ion-accordion.accordion-collapsing ion-item[slot='header'],
ion-accordion.accordion-collapsed ion-item[slot='header'] {
  --background: var(--ion-background-color-accordion-collapsed);
  --color: var(--ion-color-accordion);
  ion-label {
    color: var(--ion-color-accordion);
    font-weight: bold;
  }
}

ion-accordion.accordion-expanding ion-item[slot='header'],
ion-accordion.accordion-expanded ion-item[slot='header'] {
  --background: var(--ion-background-color-accordion-expanding);
  --color: var(--ion-color-accordion);
  ion-label {
    color: var(--ion-color-accordion);
    font-weight: bold;
  }
}

ion-chip {
  width: 100%;
  display: flex;
  background:var(--ion-background-color-accordion-expanding);
  color: var(--ion-color-accordion);
  border: 1px solid var(--ion-color-accordion);
  justify-content: flex-start;
  align-items: center;
  font-weight:bold;
  p {
    font-size: 0.70rem;
    color: var(--ion-color-p);
  }
}

ion-grid {
  width: 100%;
  ion-text {
    color: var(--ion-color-pedido);
    font-size: 1.00rem;
    font-weight: bold;
  }
}

.cards-content {
  background-color: var(--ion-color-pedido-tint);
  padding: 0.10rem 0 0.10rem 0;
  max-height: 30.00rem;
  overflow-y: auto;
}

ion-card {
  cursor: pointer;
  background-color: var(--ion-color-pedido-shade);
}

ion-card-title {
  padding-bottom: 1.00rem;
  text-align: right;
  font-weight: bold;
  font-size: 0.80rem;
  color: var(--ion-color-pedido);
}

ion-card-subtitle {
  font-size: 0.75rem;
  color: var(--ion-color-pedido);
}

ion-card-content {
  ion-label {
    font-size: 0.75rem;
    color: var(--ion-color-pedido);
  }
  div {
    padding: 1.00rem 0 0.50rem 0;
    text-align: right;
    font-size: 1.00rem;
    color: var(--ion-color-pedido);
  }
}
