<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Cheese Pizza Recepción de Pedidos Móviles
      <label>(Pedidos)</label>
      <app-reloj></app-reloj>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      @for (group of pedidoGroups; track $index) {
      <ion-col [sizeXs]="12" [sizeSm]="12" [sizeMd]="6" [sizeLg]="6" [sizeXl]="6">
        <ion-accordion-group
        [value]="group.pedidos.length > 0 ? group.value : ''"
        [disabled]="group.pedidos.length === 0">
          <ion-accordion [value]="group.value" toggleIconSlot="end">
            <ion-item slot="header">
              <ion-chip>
                <ion-label>
                  {{ group.title }}
                  @if (group.pedidos.length > 0) {
                    <span>({{ group.pedidos.length }})</span>
                    <p>{{ group.subtitle }}</p>
                  }
                </ion-label>
              </ion-chip>
            </ion-item>
            <div slot="content">
              @for (pedido of group.pedidos; track $index) {
              <ion-card (click)="verPedido(pedido)">
                <ion-grid fixed>
                  <ion-row>
                    <ion-col sizeXs="12" sizeSm="3" sizeMd="3" sizeLg="3" sizeXl="3">
                      <ion-text>#{{ pedido.numeroPedido }}</ion-text>
                    </ion-col>
                    <ion-col sizeXs="12" sizeSm="9" sizeMd="9" sizeLg="9" sizeXl="9">
                      <ion-card-header>
                        <ion-card-title>{{ pedido.fechaHora }}</ion-card-title>
                        <ion-card-subtitle>{{ pedido.datosCliente }}</ion-card-subtitle>
                      </ion-card-header>
                      <ion-card-content>
                        <ion-label>{{ pedido.resumenPedido }}</ion-label>
                        <div><strong>{{ pedido.montoTotal }}</strong></div>
                      </ion-card-content>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
              }
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
