:root {
  font-size: 16px; /* Base para rem */
}

ion-accordion.accordion-expanding,
ion-accordion.accordion-expanded {
//  width: calc(100% - 32px);
//  margin: 16px auto;
  width: calc(100% - 0.00rem);
  margin: 0.00rem auto;
}

ion-accordion.accordion-collapsing ion-item[slot='header'],
ion-accordion.accordion-collapsed ion-item[slot='header'] {
  --background: #fff;
  --color: #000;
  ion-label {
    color: #000;
    font-weight: bold;
    font-size: 1.25rem;
    p { color: #000;}
  }
}

ion-accordion.accordion-expanding ion-item[slot='header'],
ion-accordion.accordion-expanded ion-item[slot='header'] {
  --background: #000;
  --color: #fff;
  ion-label {
    color: #fff;
    font-weight: bold;
    font-size: 1.25rem;
    p { color: #fff;}
  }
}
/*
ion-chip {
  width: 100%;
  display: flex;
  background:var(--ion-background-color-accordion-expanding);
  color: var(--ion-color-accordion);
  border: 1px solid var(--ion-color-accordion);
  justify-content: flex-start;
  align-items: center;
  font-weight:bold;
  p {
    font-size: 0.85rem;
    color: var(--ion-color-p);
  }
}

ion-grid {
  width: 100%;
  ion-text {
    color: var(--ion-color-pedido);
    font-size: 1.00rem;
    font-weight: bold;
  }
}

.cards-content {
  background-color: var(--ion-color-pedido-tint);
  padding: 0.10rem 0 0.10rem 0;
  max-height: 30.00rem;
  overflow-y: auto;
}

ion-card {
  cursor: pointer;
  background-color: var(--ion-color-pedido-shade);
}

ion-card-title {
  padding-bottom: 1.00rem;
  text-align: right;
  font-weight: bold;
  font-size: 0.80rem;
  color: var(--ion-color-pedido);
}

ion-card-subtitle {
  font-size: 0.75rem;
  color: var(--ion-color-pedido);
}

ion-card-content {
  .negrita {
    font-weight: bold;
  }
  ion-label {
    font-size: 0.75rem;
    color: var(--ion-color-pedido);
  }
  div {
    padding: 1.00rem 0 0.50rem 0;
    text-align: right;
    font-size: 1.00rem;
    color: var(--ion-color-pedido);
  }
}

.spinner-container {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  background: var(--ion-color-background);
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  ion-spinner {
    width: 5.00rem;
    height: 5.00rem;
    color: var(--ion-color-primary);
  }
}*/





.contenido-cards {
  background-color: #666;
  //padding: 0.10rem 0 0.10rem 0;
  max-height: 30.00rem;
  overflow-y: auto;
}


.pedido-card {
  border-radius: 3px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #aaa, #fff);
  //cursor: pointer;
}

ion-card-header {
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

ion-card-title {
  font-size: 1.75rem;
  font-weight: bold;
  color: #000;
}

ion-card-subtitle {
  text-align: right;
  font-size: 0.75rem;
  font-weight: bold;
  color: #000;
}

.cliente-info,
.resumen-pedido,
.modalidad-entrega {
  margin: 5px 0;
  padding: 5px;
  border-radius: 3px;
  background-color: #f1f1f1;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cliente-info h3,
.resumen-pedido h3,
.modalidad-entrega h3 {
  font-size: 1.00rem;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
}

.cliente-info p,
.resumen-pedido p,
.modalidad-entrega p {
  margin: 5px 0;
  font-size: 0.75rem;
  font-weight: bold;
  color: #000;
}

.monto-total {
  text-align: right;
  margin-top: 10px;
  font-weight: bold;
  color: #000;
}

.monto-total h2 {
  font-size: 1.00rem;
  font-weight: bold;
  margin: 0;
}

