<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cheese Pizza Recepción de Pedidos Móviles
      <label>(Empleados)</label></ion-title
    >
  </ion-toolbar>
  <ion-toolbar class="toolbaragregar">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-icon name="add-outline" id="open-modalAdd" (click)="agregar()"></ion-icon>
          <ion-modal #modal trigger="open-modalAdd" [presentingElement]="presentingElement">
            <ng-template>
              <app-empleado></app-empleado>
            </ng-template>
          </ion-modal>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">empleados</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      @for (empleado of empleados; track $index) {
        <ion-col size-sm="12" size-md="6" size-lg="4" size-xl="3" size="12">
          <ion-card class="custom-card">
            <ion-img src="assets/img/usuario.png" class="card-image"></ion-img>
            <ion-card-header>
              <ion-card-title>{{empleado.nombre}}</ion-card-title>
              <ion-card-subtitle>{{empleado.tipo}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <div class="activo">Activo:
                <ion-img [src]="empleado.activo === 'S' ? 'assets/img/activo-si.png' : 'assets/img/activo-no.png'" class="custom-image"></ion-img>
              </div>
              <label>Domicilio:</label><p>{{empleado.domicilio}}</p>
              <label>Teléfono:</label><p>{{empleado.telefono}}</p>
              <label>Ingreso:</label><p>{{empleado.fechaingreso}}</p>
            </ion-card-content>
            <ion-footer>
              <ion-grid fixed>
                <ion-row>
                  <ion-col size="6" class="editar">
                    <!--ion-icon name="pencil-outline" (click)="editar()"></!ion-icon-->
                    <ion-icon name="pencil-outline" id="open-modalEdit{{empleado.id}}" (click)="editar(empleado)"></ion-icon>
                    <ion-modal #modal trigger="open-modalEdit{{empleado.id}}" [presentingElement]="presentingElement">
                      <ng-template>
                        <app-empleado></app-empleado>
                      </ng-template>
                    </ion-modal>
                  </ion-col>
                  <ion-col size="6" class="eliminar">
                    <!--ion-icon name="trash-outline" (click)="eliminar()"></!ion-icon-->
                    <ion-icon name="trash-outline" id="open-modalDel{{empleado.id}}" (click)="eliminar(empleado)"></ion-icon>
                    <ion-modal #modal trigger="open-modalDel{{empleado.id}}" [presentingElement]="presentingElement">
                      <ng-template>
                        <app-empleado></app-empleado>
                      </ng-template>
                    </ion-modal>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-footer>
          </ion-card>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
