.custom-card {
  --ion-background-color: #fff;
  // Desplazamiento horizontal (primer valor):  Controla la sombra a la derecha (positivo) o a la izquierda (negativo).
  // Desplazamiento vertical   (segundo valor): Controla la sombra hacia abajo (positivo) o hacia arriba (negativo).
  // Difusión                  (tercer valor):  Controla qué tan suave es la sombra. Un valor mayor produce una sombra más difusa.
  // Tamaño de la sombra       (cuarto valor):  Define la expansión de la sombra.
  box-shadow: 0.25rem 0.25rem 0.10rem 0.10rem rgba(0, 0, 0, 0.1);
  border-radius: 0.50rem;
  padding: 0.50rem;
  transition: transform 0.3s ease;
  border: 2px solid var(--ion-color-employee-shade);
}

.custom-card:hover {
  transform: scale(1.01);
}

.card-image {
  //border-top-left-radius: 0.10rem;
  //border-top-right-radius: 0.10rem;
  height: 25%;
  width: 25%;
  object-fit: cover;
  display: block; /* Necesario para que funcione margin auto */
  margin: 0 auto; /* Centrado horizontal */
}

.toolbaragregar {
  height: 3.00rem;
  --background: var(--ion-color-employee-shade);
  padding: 0 !important;
  margin: 0 !important;
  ion-grid {
    --background: var(--ion-color-employee-shade);
    color: var(--ion-color-employee-contrast);
    padding: 0 !important;
    margin: 0 2.00rem 0 2.00rem !important;
  }
  ion-col {
    text-align: right;
    ion-icon:hover {
      transform: scale(1.50);
    }
  }
}

ion-col {
  padding: 0.50rem;
}

ion-card-title {
  display: block;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.0rem;
  color: var(--ion-color-employee-contrast);
}

ion-card-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.50rem 0 0.50rem 0 ;
  font-weight: bold;
  font-size: 0.75rem;
  color: var(--ion-color-employee-tint);
}

ion-footer {
  padding: 0 !important;
  margin: 0 !important;
  background-color: var(--ion-color-employee-tint);
  text-align: center;
  ion-grid {
    padding: 0.05rem !important;
    margin: 0 !important;
  }
}

p {
  font-weight: bold;
  font-size: 0.75rem;
  color: var(--ion-color-employee-contrast);
}

ion-icon {
  cursor: pointer;
  color: var(--ion-color-employee-contrast);
  font-size: 1.50rem;
}

.editar, .eliminar {
  background-color: var(--ion-color-employee-shade);
  ion-icon:hover {
    transform: scale(1.15);
  }
}

.activo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.custom-image {
  margin: 0 0 0 0.75rem;
  width: 7%;
  height: 7%;
}

.custom-toggle {
  transform: scaleX(0.85) scaleY(0.85); // Cambia el ancho sin alterar la altura
  --handle-width: 1.25rem; // Cambia el tamaño del círculo
  --handle-height: 1.25rem; // Cambia la altura del círculo
  --handle-border-radius: 100%; // Ajusta el borde del círculo
}
