#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  //height: 100vh;
}

.titulo {
  font-size: 2.0rem;
}

.subtitulo {
  font-size: 1.5rem;
}

.boton {
  text-align: center;
}

ion-buttons {
  ion-button:hover {
    --background: var(--ion-color-close);
    --color: var(--ion-color-close-contrast);
  }
}

ion-button {
  --background: var(--ion-color-tertiary);
  --color: var(--ion-color-tertiary-contrast);
}

ion-col {
  padding: 1.0rem;
  text-align: left;
  strong {
    color: var(--ion-color-dark);
  }
}
