  <ion-header slot="fixed">
    <ion-toolbar>
      <ion-title>Cheese Pizza Recepción de Pedidos Móviles
        <label>({{titulo}})</label>
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismiss()">
          <ion-icon name="close-outline" size="large"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    @if(mostrarEmpleadoForma){
    <form [formGroup]="empleadoForma" (ngSubmit)="onSubmit()">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-input
              label="Nombre"
              label-placement="floating"
              fill="outline"
              formControlName="nombre"

              maxlength="50"
              errorText="Nombre no válido"
            ></ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-input
              label="Domicilio"
              label-placement="floating"
              fill="outline"
              formControlName="domicilio"
              [ngModel]="domicilio"
              maxlength="50"
              errorText="Domicilio no válido"
            ></ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-input
              label="Teléfono"
              label-placement="floating"
              fill="outline"
              formControlName="telefono"
              [ngModel]="telefono"
              maxlength="10"
              errorText="Teléfono no válido"
            ></ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-input
              label="Fecha"
              label-placement="floating"
              fill="outline"
              placeholder="dd/mm/aaaa"
              formControlName="fechaIngreso"
              [ngModel]="fechaIngreso"
              type="date"></ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-select label="tipo" label-placement="floating" fill="outline" formControlName="tipo" placeholder="tipo"
            [(ngModel)]="tipoIdSeleccionado"
            (ionChange)="getEmpleadoTipo($event)">
              @for (tipo of empleadoTipos; track $index) {
                <ion-select-option [value]="tipo.id">{{tipo.tipo}}</ion-select-option>
              }
            </ion-select>
          </ion-col>
          <ion-col size="12">
            <ion-toggle [checked]="estaActivo" (ionChange)="onActivo($event)">Activo</ion-toggle>
          </ion-col>
          <ion-col size="12">
            <ion-input type="password"
              label="Nip"
              label-placement="floating"
              fill="outline"
              formControlName="nip"
              [ngModel]="nip"
              maxlength="3"
              errorText="Nip no válido"
            ></ion-input>
          </ion-col>
          <ion-col size="12" class="boton">
            <ion-button
              type="submit"
              [disabled]="!empleadoForma.valid"
              expand="small"
              >Aceptar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    }
    @if(!mostrarEmpleadoForma){
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">Nombre: <strong>{{nombre}}</strong></ion-col>
          <ion-col size="12">Domicilio: <strong>{{domicilio}}</strong></ion-col>
          <ion-col size="12">Teléfono: <strong>{{telefono}}</strong></ion-col>
          <ion-col size="12">Fecha ingreso: <strong>{{fechaIngreso}}</strong></ion-col>
          <ion-col size="12">Tipo: <strong>{{empleadoTipoTipo}}</strong></ion-col>
          <ion-col size="12">Activo: <strong>{{estaActivo === true ? 'Si' : 'No'}}</strong></ion-col>
          <ion-col size="12"><ion-button (click)="eliminarEmpleado()" color="danger">Eliminar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    }
</ion-content>
