#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  //height: 100vh;
}

.titulo {
  font-size: 2.0rem;
}

.subtitulo {
  font-size: 1.5rem;
}

.botonPedidos {
  ion-button {
    --background: var(--ion-color-secondary);
    --color: var(--ion-color-secondary-contrast);
    padding: 1.0rem;
    width: 100%;
    height: 20vh;
  }
}

.botonConfiguracion {
  ion-button {
    --background: var(--ion-color-tertiary);
    --color: var(--ion-color-tertiary-contrast);
    padding: 1.0rem;
    width: 100%;
    height: 20vh;
  }
}

.botonEmpleados {
  ion-button {
    --background: var(--ion-color-warning);
    --color: var(--ion-color-warning-contrast);
    padding: 1.0rem;
    width: 100%;
    height: 20vh;
  }
}
